@font-face {
  font-family: "Merienda";
  src: url("../assets/fonts/merienda/merienda-variablefont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#page_content{
    font-family: "Merienda";
}

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/oswald/oswald-variablefont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

header, footer {
    font-family: "Oswald";
}

@font-face {
  font-family: "Michroma";
  src: url("../assets/fonts/michroma/michroma-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

dialog {
    font-family: "Michroma";
}
