.overlay {
  position: fixed;
  top: 6rem;
  bottom: 6rem;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: all;
  background: transparent;
}

.overlay_panel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgb(250, 203, 0);
  box-shadow: 0 0 1.9rem rgba(0, 0, 0, 0.35) inset;
  transition: transform 1.2s ease-in-out;
  will-change: transform;
}

.overlay_panel_left {
  left: 0;
  transform: translateX(0%);
}

.overlay_panel_right {
  right: 0;
  transform: translateX(0%);
}

.overlay_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 6rem;
  display: block;
  transform: translate(-50%, -50%);
  animation: spinOverlayImg 1s linear infinite;
  will-change: transform;
  transition: opacity 0.5s ease;
}

@keyframes spinOverlayImg {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.overlay_curtain_open .overlay_panel_left {
  transform: translateX(-100%);
}

.overlay_curtain_open .overlay_panel_right {
  transform: translateX(100%);
}

.overlay_curtain-open .overlay_spinner {
  opacity: 0;
}
