.bug {
  background-color: rgba(164, 195, 44, 0.75);
}

.dark {
  background-color: rgba(100, 103, 117, 0.75);
}

.dragon {
  background-color: rgba(40, 112, 200, 0.75);
}

.electric {
  background-color: rgba(240, 218, 82, 0.75);
}

.fairy {
  background-color: rgba(235, 156, 231, 0.75);
}

.fighting {
  background-color: rgba(219, 61, 74, 0.75);
}

.fire {
  background-color: rgba(245, 161, 73, 0.75);
}

.flying {
  background-color: rgba(151, 174, 224, 0.75);
}

.ghost {
  background-color: rgba(101, 111, 191, 0.75);
}

.grass {
  background-color: rgba(104, 191, 106, 0.75);
}

.ground {
  background-color: rgba(207, 140, 91, 0.75);
}

.ice {
  background-color: rgba(129, 209, 194, 0.75);
}

.normal {
  background-color: rgba(160, 162, 158, 0.75);
}

.poison {
  background-color: rgba(168, 99, 201, 0.75);
}

.psychic {
  background-color: rgba(245, 144, 136, 0.75);
}

.rock {
  background-color: rgba(206, 195, 140, 0.75);
}

.steel {
  background-color: rgba(95, 160, 167, 0.75);
}

.water {
  background-color: rgba(104, 171, 226, 0.75);
}
