* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body a {
  text-decoration: none;
  color: black;
}

.d_none {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0 0 0 0);
  white-space: nowrap; border: 0;
}

.content_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.p-lr-1r {
  padding: 0 1rem;
}